*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root{
    --font-title: 'Playfair Display', serif;
    --font-text: 'Source Sans Pro', sans-serif;
}

body{
    padding: 20px;
}

header{
    display: grid;
    grid-template-columns: 20% auto 6%;
    height: 100px;
    font-family: var(--font-title);
    font-weight: bold;
    border: 1px solid black;
    max-width: 520px;
    margin: 0 auto;
}

header .header-number{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 5rem;
    padding-bottom: 10px;
}

header .header-title{
    font-size: 4rem;
    padding-left: 20px;
    line-height: 45px;
}

header .header-sub_title{
    border-left: 1px solid black;
    writing-mode: vertical-lr;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
}