*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root{
    --font-title: 'Playfair Display', serif;
    --font-text: 'Source Sans Pro', sans-serif;
}

body{
    padding: 20px;
    display: grid;
    grid-row-gap: 12px;
}

header{
    display: grid;
    grid-template-columns: 20% auto 6%;
    height: 100px;
    font-family: var(--font-title);
    font-weight: bold;
    border: 1px solid black;
    max-width: 350px;
    margin: 0 auto;
}

header .header-number{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 5rem;
    padding-bottom: 1rem;
}

header .header-title{
    font-size: 4rem;
    padding-left: 20px;
    line-height: 45px;
}

header .header-sub_title{
    border-left: 1px solid black;
    writing-mode: vertical-lr;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* sección principal */

main{
    display: grid;
    grid-template-columns: 70% 30%; 
    max-width: 350px;
    margin: 0 auto;
    grid-template-rows: repeat(5, 100px);
    grid-row-gap: 12px;

}

main .image {
    grid-row: 1 / 6;
    grid-column: 1 / 2;
}


main .image img{
    width: 250px;
    height: 520px;
}

main .text{
    grid-row: 2 / 6;
    grid-column: 2 / 3;
    font-size: 0.8rem;
    font-family: var(--font-text);
    font-weight: 300;
}

main .image-description{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0;
}